* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'RocknRoll One', sans-serif;
    line-height: 2rem;
    background-color: rgb(105,131,57);  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-style {
    width: 60%;
    margin: 0 auto;  
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.head-img {
    width: 20%;
}

.intro-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    padding: 5%;
}

.instruction {
    margin-bottom: 20px;
}


.btn {
    font-family:'RocknRoll One', sans-serif; 
    font-size: 1.9rem;
    width: 200px;
    height: 75px;
    cursor: pointer;
    margin: 30px;
    border-radius: 12px;
}
